<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yashakabra05.codebotsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codebotsapp">
        <activity android:name=".EmergencyTab"></activity>
        <activity android:name=".MyParticularEvent" />
        <activity android:name=".MyEventsList" />
        <activity android:name=".Calendar" />
        <activity android:name=".Search" />
        <activity android:name=".Helpmain" />
        <activity android:name=".HomePage" />
        <activity android:name=".Favourite" />
        <activity android:name=".Feedback" />
        <activity android:name=".contactus" />
        <activity android:name=".Filter" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Profile_secondpage" />
        <activity android:name=".Profile_firstpage" />
        <activity android:name=".EventInformation" />
        <activity
            android:name=".MainActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Create_event_sec_Activity" />
        <activity android:name=".Create_event_first_Activity" />
        <activity android:name=".CreateActivity" />
        <activity
            android:name=".MainActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".CreateActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".EnterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>